*{
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* Reset margin and set font family for all elements */
}

h2{
    font-size: 2rem;
    margin-bottom: 6px;
    /* Set font size and bottom margin for h2 headings */
}

header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: red;
    color: white;
    height: 5rem;
    /* Style the header section */
}

.school-logo{
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 5px;
    /* Style the school logo link */
}

.school-logo img{
    border-radius: 50%;
    margin: 5px;
    /* Style the school logo image */
}

.right-side{
    margin-left: auto;
    display: flex;
    align-items: center;
    padding: 10px;
    /* Style the right side section in the header */
}

.right-side img{
    padding: 5px 10px;
    /* Add padding to images in the right side section */
}

#user{
    border-radius: 50%;
    /* Make the user image round */
}

.container{
    display: flex;
    /* Use flexbox for the main container */
}

aside{
    flex: 1;
    display: flex;
    flex-direction: column;
    height: calc(100svh - 6rem);
    background: #000;
    overflow-y: auto;
    padding: 0.5rem;
    /* Style the aside element */
}

aside button {
    background: #fff;
    font-size: 1rem;
    padding: 5px;
    margin: 5px;
    /* Style buttons inside the aside element */
}

button{
    background: gold;
    border: none;
    padding: 5px;
    border-radius: 8px;
    /* Style general buttons */
}

button:hover{
    cursor: pointer;
    background: goldenrod;
    /* Change button style on hover */
}

main{
    flex: 5;
    height: calc(100svh - 5rem);
    overflow-y: auto;
    /* Style the main content area */
}

section{
    display: none;
    /* Hide sections by default */
}

.visible{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* Style visible sections */
}

#courseTable{
    margin-top: 2rem;
    /* Add top margin to the course table */
}

.table-container{
    max-width: 100svw;
    overflow: auto;
    margin-top: 12px;
    margin: 0.5rem;
    /* Style the table container */
}

tbody, th, td, thead{
    border: 2px solid darkgray;
    border-collapse: collapse;
    padding: 4px;
    /* Style the table elements */
}

th{
    background-color: red;
    color: white;
    /* Style the table header */
}

dialog {
    margin: auto;
    /* Center the dialog when it opens */
}

::backdrop {
    background-image: linear-gradient(45deg, magenta, rebeccapurple, dodgerblue, green);
    opacity: 0.75;
    /* Style the dialog backdrop */
}

ul{
    list-style: none;
    /* Remove list styles */
}

@media (max-width: 550px) {
    .container{
        flex-direction: column;
        /* Change the container layout for small screens */
    }
}
