*{
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif   ;

}

h2{
    font-size: 2rem;
}


header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: red;
    color: white;
    height: 5rem;
}

.school-logo{
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 5px;
   
}
.school-logo img{
    border-radius: 50%;
    margin: 5px;
    
}
.right-side{
    margin-left: auto;
    display: flex;
    align-items: center;
    padding: 10px;
}

.right-side img{
    padding: 5px 10px;

}
#user{
    border-radius: 50% ;
}

.container{
    display: flex;
    
}

aside{
    flex: 1;
    border: 2px solid  ;
    display: flex;
    flex-direction: column;
    height: calc(100svh - 5rem);
    background: #000;
    overflow-y: auto;
    padding: 10px 5px;
}

aside button {
    background: #fff;
    font-size: 1rem ;

    padding: 5px;
    margin: 5px;

}

button{
    background: gold;
    border: none;
    padding: 5px;

    border-radius: 8px;

}

button:hover{
    cursor: pointer;
    background: goldenrod;
}

main{
    flex:5;
}

section{
    display: none;
}

.visible{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}




#courseTable{
    margin-top: 2rem;
}

.table-container{
    overflow: auto;
    margin-top:12px;
}

tbody,th,td, thead{
    border: 2px solid darkgray;
    border-collapse: collapse;
}

th{
    background-color: red;
    color:white;
}

dialog {
    /* this is to center the dialog when it opens*/
    margin: auto;
}

::backdrop {
    /* this is to style dialog background */
    background-image: linear-gradient(
            45deg,
            magenta,
            rebeccapurple,
            dodgerblue,
            green
    );
    opacity: 0.75;
}

ul{
    list-style: none;
}

@media (max-width: 550px) {
    .container{
        flex-direction: column;
    }
}